body {
  background-color: lightpink;
  text-align: right;
}
.rouge {
  background: rgba(102, 8, 8, 0.527);
  height: 90px;
}
.jauneClair {
  background: rgb(255, 252, 55);
}
.jaune {
  background: rgb(172, 172, 16);
}
.bleue {
  background: blue;
}
.orange {
  background: orange;
}
.marron {
  background: brown;
}

header {
  background: red;
  height: 150px;
}

#gandalf{
  color: white;
}
