div {
  padding: 15px 0;
}

.comment {
  display: flex;
  align-items: center;
}

label {
  font-family: "indie flower", cursive;
  background: rgb(146, 146, 182);
}

.noback {
  background-color: white;
  font-family: "Courier New", Courier, monospace;
}

#envoie {
  text-align: center;
}

button {
  padding: 5px 10px;
  border-radius: 15px;
  background-color: rgb(91, 91, 138);
}
