form {
  display: flex;
  flex-direction: column;
}

fieldset {
  display: block;
}
.align {
  width: 100px;
}

div {
  padding: 15px 0;
  display: flex;
}

.comment {
  display: flex;
  align-items: center;
}

#envoie {
  text-align: center;
}

.envoie {
  padding: 5px 10px;
  border-radius: 15px;
  background-color: rgb(91, 91, 138);
}

.envoie:hover {
  background-color: white;
  font-size: 45px;
}
